'venv' 
__pycache__/database.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/qpm.cpython-310.pyc
user_post.db
requirements.txt
.gitattributes
__pycache__/sign_up.cpython-310.pyc
test.py
.gitignore
__pycache__/upload_file.cpython-310.pyc
